@import url('https://fonts.googleapis.com/css?family=Montserrat');

main {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    font-family: "Montserrat";
}

.contForm {
    width: 420px;
}

.container {
    border: 4px solid black;
    border-radius: 5px;
    max-width: 380px;
    padding: 5px;
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
}

.menu {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
    padding-left: 5px;
}

.menu button {
    margin: 2px;
}

.inputForm {
    margin-left: 370px;
    margin-bottom: 5px;
    max-height: 20px;
    border-radius: 5px;
    background-color: red;
    border-color: red;
}

.contInput {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    max-width: 420px;
}

.radioInput {
    margin-right: 215px;
}

.checkInput {
    margin-right: 215px;
}

.selectInput {
    margin-right: 240px;
}

.buttDel {
    border-radius: 5px;
    max-height: 20px;
    background-color: red;
    border-color: red;
}

.buttMod {
    border-radius: 5px;
    max-height: 20px;
}

legend {
    font-weight: bold;
}
