@import url('https://fonts.googleapis.com/css?family=Montserrat');

main {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    font-family: "Montserrat";
}
.container {
    border: 4px solid black;
    border-radius: 5px;
    width: 380px;
    padding: 5px;
    margin: 10px;
    background-color: steelblue;
}
.menu {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
    padding-left: 5px;
}
.menu button {
    margin: 2px;
}

.contInput {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
}

.radioInput {
    margin-right: 240px;
}

.buttInput {
    border-radius: 5px;
    max-height: 20px;
}
