main {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.container {
    border: 4px solid black;
    border-radius: 5px;
    width: 380px;
    padding: 5px;
    margin: 10px;
    background-color: steelblue;
}
.menu {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
    padding-left: 5px;
}
.menu button {
    margin: 2px;
}
.contForm {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
}

.contForm p {
    margin-left: 5px;
}